
bin/Debug/net7.0/PalinDrome.deps.json
bin/Debug/net7.0/PalinDrome.dll
bin/Debug/net7.0/PalinDrome.exe
bin/Debug/net7.0/PalinDrome.pdb
bin/Debug/net7.0/PalinDrome.runtimeconfig.json
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/PalinDrome.AssemblyInfo.cs
obj/Debug/net7.0/PalinDrome.AssemblyInfoInputs.cache
obj/Debug/net7.0/PalinDrome.assets.cache
obj/Debug/net7.0/PalinDrome.csproj.AssemblyReference.cache
obj/Debug/net7.0/PalinDrome.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/PalinDrome.csproj.FileListAbsolute.txt
obj/Debug/net7.0/PalinDrome.dll
obj/Debug/net7.0/PalinDrome.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/PalinDrome.genruntimeconfig.cache
obj/Debug/net7.0/PalinDrome.GlobalUsings.g.cs
obj/Debug/net7.0/PalinDrome.pdb
obj/Debug/net7.0/ref/PalinDrome.dll
obj/Debug/net7.0/refint/PalinDrome.dll
obj/PalinDrome.csproj.nuget.dgspec.json
obj/PalinDrome.csproj.nuget.g.props
obj/PalinDrome.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
